@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
